<div id="main-content">
  <h1 class="page-title">Renewable Energy</h1>
  <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 padding-none">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-25">
      <div class="blocks">
        <h2 class="spl-block-head margin-none">
          Portfolio Summary
          <span class="glyphicon glyphicon-cog pull-right pointer" title="Settings"></span>
          <span class="glyphicon glyphicon-refresh pull-right pointer" title="Refreh"></span>
        </h2>
        <div class="block-content border-none">
          <div class="block-inner-top-strip block-inner-top-strip1">
            <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
              <select class="form-control">
                  <option>EV Station 1</option>
                  <option>EV Station 2</option>
                  <option>EV Station 3</option>
                  <option>EV Station 4</option>
                  <option>EV Station 5</option>
            </select>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="block-inner-data">
            <table cellpadding="0" cellspacing="3" border="0" class="details-table">
                <tr>
                  <td>
                    Installed Capacity (DC)
                    <span class="glyphicon glyphicon-flash pull-right"></span>
                  </td>
                  <td>42.77 MM</td>
                </tr>
                <tr>
                  <td>
                    Total Sites
                    <span class="glyphicon glyphicon-map-marker pull-right"></span>
                  </td>
                  <td>1.247 Sites</td>
                </tr>
                <tr>
                  <td>
                    Lifetime Generation
                    <i class="fa fa-bar-chart pull-right"></i>
                  </td>
                  <td>10.86 MWh</td>
                </tr>
            </table>
            
            <div class="clearfix"></div>                  
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div> 

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-25">
      <div class="blocks">
        <h2 class="spl-block-head margin-none">
          Solar Generation
          <span class="glyphicon glyphicon-cog pull-right pointer" title="Settings"></span>
          <span class="glyphicon glyphicon-refresh pull-right pointer" title="Refreh"></span>
        </h2>
        <div class="block-content border-none">
          <div class="block-inner-top-strip block-inner-top-strip1">
            <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
              <select class="form-control">
                  <option>EV Station 1</option>
                  <option>EV Station 2</option>
                  <option>EV Station 3</option>
                  <option>EV Station 4</option>
                  <option>EV Station 5</option>
            </select>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="block-inner-data">                      
               <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-25" id="solar_generation_today_data">
                <div class="blocks">
                  <h2 class="spl-block-head spl-block-head1 margin-none text-center">Today</h2>
                  <div class="block-content border-none">
                    <div class="block-inner-data">
                      <div class="solar_data">
                        <p class="solar_head">SCP</p>
                        <p class="actual_data">63.40</p>
                        <p class="dependence_data">36.60</p>
                      </div>
                      <div id="solar_today"></div>
                      <div class="clearfix"></div>                  
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-25" id="solar_generation_yesterday_data">
                <div class="blocks">
                  <h2 class="spl-block-head spl-block-head2 margin-none text-center">Yesterday</h2>
                  <div class="block-content border-none">
                    <div class="block-inner-data">
                      <div class="solar_data">
                        <p class="solar_head">YTD</p>
                        <p class="actual_data">73.96</p>
                        <p class="dependence_data">26.04</p>
                      </div>
                      <div id="solar_yesterday"></div>
                      <div class="clearfix"></div>                  
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-bottom-25" id="solar_generation_month_data">
                <div class="blocks">
                  <h2 class="spl-block-head spl-block-head3 margin-none text-center">Month</h2>
                  <div class="block-content border-none">
                    <div class="block-inner-data">
                      <div class="solar_data">
                        <p class="solar_head">INCEPTION</p>
                        <p class="actual_data">54.96</p>
                        <p class="dependence_data">45.04</p>
                      </div>
                      <div id="solar_month"></div>
                      <div class="clearfix"></div>                  
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            
            <div class="clearfix"></div>                  
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div> 

    

  </div>


  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 padding-none">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-25">
      <div class="blocks">
        <h2 class="spl-block-head margin-none">
          Environmental Overview
          <span class="glyphicon glyphicon-cog pull-right pointer" title="Settings"></span>
          <span class="glyphicon glyphicon-refresh pull-right pointer" title="Refreh"></span>
        </h2>
        <div class="block-content border-none">
          <div class="block-inner-data">
            <p><b>REDUCED EMISSIONS EQUIVALENT TO</b></p>
            <p>Reduced Equivalent To</p>
            <p><i class="fa fa-tree green"></i> <span class="number-text">7,358,478</span></p>
            <p><i class="fa fa-car green"></i> <span class="number-text">7,358,478 Auto Mobiles</span></p>
            <p>Tress Grown For 10 Years</p>
            <p><b>GREENHOUSE GASES  OFFSET</b></p>
            <table cellpadding="0" cellspacing="3" border="0" class="details-table1"  id="environmental_table">
                <thead>
                  <tr>
                    <td>&nbsp;</td>
                    <td class="text-right">Loss In Last 30 Days</td>
                    <td class="text-right">Loss Since Inception</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>CO<sub>2</sub></td>
                    <td class="text-right number-text">7,658,987</td>
                    <td class="text-right number-text">6,580,747 Auto Mobiles</td>
                  </tr>
                  <tr>
                    <td>NOX</td>
                    <td class="text-right number-text">85,875</td>
                    <td class="text-right number-text">8,087,987</td>
                  </tr>
                  <tr>
                    <td>SO<sub>3</sub></td>
                    <td class="text-right number-text">1,005,254</td>
                    <td class="text-right number-text">5,654,500</td>
                  </tr>
                </tbody>
              </table>
            
            <div class="clearfix"></div>                  
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div> 

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-25">
      <div class="blocks">
        <h2 class="spl-block-head margin-none">
          Open Alerts
          <span class="glyphicon glyphicon-cog pull-right pointer" title="Settings"></span>
          <span class="glyphicon glyphicon-refresh pull-right pointer" title="Refreh"></span>
        </h2>
        <div class="block-content border-none">
          <div class="block-inner-top-strip block-inner-top-strip1">
            <div class="col-md-6 col-sm-6 col-xs-12 padding-none">
              <select class="form-control">
                  <option>EV Station 1</option>
                  <option>EV Station 2</option>
                  <option>EV Station 3</option>
                  <option>EV Station 4</option>
                  <option>EV Station 5</option>
            </select>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="block-inner-data">
            <table cellpadding="0" cellspacing="3" border="0" class="details-table2" id="open_alerts_table">
              <thead>
                <tr>
                  <td>Device Count</td>
                  <td>Alert Name</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="status-block">
                      <div class="status-div"></div>
                      <span class="status-text number-text">80%</span>
                    </div>
                  </td>
                  <td>Hopping SEM</td>
                </tr>
                <tr>
                  <td>
                    <div class="status-block">
                      <div class="status-div1"></div>
                      <span class="status-text number-text">40%</span>
                    </div>
                  </td>
                  <td>SEM Out of Network Design</td>
                </tr>
                <tr>
                  <td>
                    <div class="status-block">
                      <div class="status-div2"></div>
                      <span class="status-text number-text">10%</span>
                    </div>
                  </td>
                  <td>SEM Out of Network Design</td>
                </tr>
              </tbody>
            </table>
            <div class="clearfix"></div>                  
          </div>
        </div>
      </div> 
    </div> 
  </div> 

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-25">
      <div class="blocks">
        <h2 class="spl-block-head margin-none">
          Fleet Status
          <span class="glyphicon glyphicon-cog pull-right pointer" title="Settings"></span>
          <span class="glyphicon glyphicon-refresh pull-right pointer" title="Refreh"></span>
        </h2>
        <div class="block-content border-none">
          <div class="block-inner-top-strip block-inner-top-strip1">
            <div class="col-md-4 col-sm-4 col-xs-12 padding-none">
              <select class="form-control">
                  <option>EV Station 1</option>
                  <option>EV Station 2</option>
                  <option>EV Station 3</option>
                  <option>EV Station 4</option>
                  <option>EV Station 5</option>
            </select>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="block-inner-data">
            <table cellpadding="0" cellspacing="3" border="0" class="details-table3" id="feel_status_table">
              <thead>
                <tr>
                  <td></td>
                  <td colspan="2" class="text-center">1.247 Total Sites</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    System Disconnect
                    <i class="fa fa-wifi red pull-right"></i>
                  </td>
                  <td colspan="2" class="text-center">34 Sites</td>
                </tr>
                <tr>
                  <td>
                    Device Fault
                    <i class="fa fa-exclamation-triangle red pull-right"></i>
                  </td>
                  <td colspan="2" class="text-center">2 Sites</td>
                </tr>
                <tr>
                  <td>
                    Zero Generation
                    <i class="fa fa-flash red pull-right"></i>
                  </td>
                  <td colspan="2" class="text-center" >20 Sites</td>
                </tr>
                <tr>
                  <td>
                    Performance Yield
                    <i class="fa fa-tachometer red pull-right"></i>
                  </td>
                  <td colspan="2" class="text-center" >1 Site</td>
                </tr>
                <tr>
                  <td>
                    Relaive Performance
                    <i class="fa fa-line-chart red pull-right"></i>
                  </td>
                  <td class="text-center">
                    <span class="pull-left">Medium</span>
                    <span class="pull-right red">57 Sites</span>
                  </td>
                  <td class="text-center" >
                    <span class="pull-left">High</span>
                    <span class="pull-right red">0 Sites</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    Performance Expectations
                    <i class="fa fa-battery-1 red pull-right"></i>
                  </td>
                  <td class="text-center">
                    <span class="pull-left">Medium</span>
                    <span class="pull-right red">54 Sites</span>
                  </td>
                  <td class="text-center" >
                    <span class="pull-left">High</span>
                    <span class="pull-right red">0 Sites</span>
                  </td>
                </tr>
              </tbody>
            </table>
            
            <div class="clearfix"></div>                  
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div> 

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-25">
      <div class="blocks">
        <h2 class="spl-block-head margin-none">
          Fleet Status
          <span class="glyphicon glyphicon-cog pull-right pointer" title="Settings"></span>
          <span class="glyphicon glyphicon-refresh pull-right pointer" title="Refreh"></span>
        </h2>
        <div class="block-content border-none">
          <div class="block-inner-top-strip block-inner-top-strip1">
            <div class="col-md-4 col-sm-4 col-xs-12 padding-none">
              <select class="form-control">
                  <option>EV Station 1</option>
                  <option>EV Station 2</option>
                  <option>EV Station 3</option>
                  <option>EV Station 4</option>
                  <option>EV Station 5</option>
            </select>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="block-inner-data">
            
            <div id="ren_bar_chart"></div>
            
            <div class="clearfix"></div>                  
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div> 



  <div class="clearfix"></div>

</div>
