<div class="animated fadeIn facilities">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-building-o"></i> Facilities
                    <div class="card-icons">
                        <a class="icon-wrapper" (click)="void">
                            <i class="icon-list"></i>
                        </a>
                        <a class="icon-wrapper" (click)="void">
                            <i class="fa fa-file-excel-o"></i>
                        </a>
                        <a class="icon-wrapper" (click)="add($event)">
                            <i class="fa fa-plus-square-o"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                        <app-loading *ngIf="isLoading"></app-loading>
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="facility empty" *ngIf="facilityisList.length == 0">
                                <td colspan="5">No Facilities found</td>
                            </tr>
                            <tr class="facility"[ngClass]="{'selected':selected?.id == facility.id}" (click)="select(facility, $event)" *ngFor="let facility of facilityisList">
                                <td class="name">
                                    <div class="logo">
                                        <img *ngIf="facility.picture != null" src="{{facility.picture != null ? facility.picture : null }}" />
                                    </div>
                                    {{facility.name}}
                                </td>
                                <td>{{facility.address}}</td>
                                <td class="type">{{facility.type}}</td>
                                <td class="status-col">
                                    <div class="status">
                                        <label class="switch switch-label switch-pill switch-primary">
                                            <input type="checkbox" class="switch-input" 
                                            [ngModel]="facility.status === 1" 
                                            (ngModelChange)="confirmAndChangeStatus(facility, $event)">
                                            <span class="switch-slider"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="action">
                                    <a class="btn" (click)="edit(facility, $event)">
                                        <i class="icon-pencil"></i>
                                    </a>
                                    <a class="btn" (click)="checkAndDelete(facility, $event)">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" (click)="void">Prev</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" (click)="void">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="void">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="void">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="void">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="void">Next</a>
                            </li>
                        </ul>
                    </nav> -->
                </div>
                <div class="card-footer">
                    <div *ngIf="facilities.length != 0">
                        <app-pagination [totalData]="facilities" (valueChange)='displayData($event)'></app-pagination>
                    </div> 
                </div>
            </div>

        </div>
    </div>
    <div bsModal #deleteConfirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                    <button type="button" class="close" (click)="deleteConfirmationModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This will delete the selected Facility permanantly. Are you sure you want delete the changes?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="deleteConfirmationModal.hide()">Cancel</button>
                    <button type="button" class="btn btn-danger" (click)="delete(selected)">Yes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div bsModal #statusChangeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                    <button type="button" class="close" (click)="statusChangeModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This will Activate/Deactivate Faclities. Are you sure, you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cancelStatusChange(selected)">No</button>
                    <button type="button" class="btn btn-danger" (click)="onStatusChange(selected, $event)">Yes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>