<ngx-charts-area-chart [view]="view" [scheme]="areaFilledChartInfo.colorScheme" [results]="data" [gradient]="areaFilledChartInfo.gradient" [xAxis]="areaFilledChartInfo.showXAxis" [yAxis]="areaFilledChartInfo.showYAxis"
[legend]="areaFilledChartInfo.showLegend" [showXAxisLabel]="areaFilledChartInfo.showXAxisLabel" [showYAxisLabel]="areaFilledChartInfo.showYAxisLabel" [xAxisLabel]="areaFilledChartInfo.xAxisLabel"
[yAxisLabel]="areaFilledChartInfo.yAxisLabel" [autoScale]="areaFilledChartInfo.autoScale" (select)="onSelect($event)">
</ngx-charts-area-chart>