<div class="animated fadeIn charging-terminals">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-plug"></i> Charging Outlet
                    <div class="card-icons">
                        <a class="icon-wrapper" (click)="void">
                            <i class="icon-list"></i>
                        </a>
                        <a class="icon-wrapper" (click)="void">
                            <i class="fa fa-file-excel-o"></i>
                        </a>
                        <a class="icon-wrapper" (click)="add($event)">
                            <i class="fa fa-plus-square-o"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Maker</th>
                                <th>Model</th>
                                <th>Price</th>
                                <th>Capacity</th>
                                <th>Status</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="charging-terminal empty" *ngIf="chargingTerminals?.length == 0">
                                <td colspan="6">No Charging Outlets found</td>
                            </tr>
                            <tr class="charging-terminal" [ngClass]="{'selected':selected?.id == chargingTerminal.id}" (click)="select(chargingTerminal, $event)"
                                *ngFor="let chargingTerminal of chargingTerminals">
                                <td class="name">
                                    {{chargingTerminal.make}}
                                </td>
                                <td>{{chargingTerminal.model}}</td>
                                <td class="price">{{chargingTerminal.price | currency:'USD'}}&nbsp;</td>
                                <td class="capacity">{{chargingTerminal.capacity}}&nbsp;</td>
                                <td class="status-col">
                                        <div class="status">
                                                <label class="switch switch-label switch-pill switch-primary">
                                                    <input type="checkbox" class="switch-input" 
                                                    [ngModel]="chargingTerminal.status === 'ACTIVE'" 
                                                    (ngModelChange)="confirmAndChangeStatus(chargingTerminal, $event)">
                                                    <span class="switch-slider"></span>
                                                </label>
                                            </div>
                                </td>
                                <td class="action">
                                    <a class="btn" (click)="edit(chargingTerminal, $event)">
                                        <i class="icon-pencil"></i>
                                    </a>
                                    <a class="btn" (click)="checkAndDelete(chargingTerminal, $event)">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" (click)="void">Prev</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" (click)="void">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="void">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="void">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="void">4</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="void">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
    <div bsModal #deleteConfirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                    <button type="button" class="close" (click)="deleteConfirmationModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This will delete the selected Charging Outlet from the List. Are you sure you want discard the changes?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="deleteConfirmationModal.hide()">Cancel</button>
                    <button type="button" class="btn btn-danger" (click)="delete(selected)">Yes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div bsModal #statusChangeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirm</h4>
                    <button type="button" class="close" (click)="statusChangeModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This will Activate/Deactivate Charging Outlet. Are you sure, you want to proceed?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cancelStatusChange(selected)">No</button>
                    <button type="button" class="btn btn-danger" (click)="onStatusChange(selected, $event)">Yes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>