<div [style.width.%]="bubbleChartInfo.width" [style.height.px]="bubbleChartInfo.height">
<ngx-charts-bubble-chart [scheme]="bubbleChartInfo.colorScheme" [results]="data"  [xAxis]="bubbleChartInfo.showXAxis" [yAxis]="bubbleChartInfo.showYAxis" [legend]="bubbleChartInfo.showLegend" [showXAxisLabel]="bubbleChartInfo.showXAxisLabel" [showYAxisLabel]="bubbleChartInfo.showYAxisLabel" [xAxisLabel]="bubbleChartInfo.xAxisLabel" [yAxisLabel]="bubbleChartInfo.yAxisLabel" [autoScale]="bubbleChartInfo.autoScale"></ngx-charts-bubble-chart>
</div>
